body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content{
    width:95%;
    min-height: 400px;
    height: auto;
    margin: auto;
}

.product{
    float: left;
    border: solid 1px;
    width: 310px;
    height: 400px;
    margin: 10px;
    padding:5px;
    display: flex;
}

.product div{
    margin: 0 auto;
}
.product img{
    width:180px;
    height: 200px;
}
.product p{
    font-size: 15px;
    font-style: italic;
    text-align: center;
}
.link{
    width:85%;
    height:10%;
    bottom:5px;
    left:50%;
    background-color:#666;
    margin-left:calc(-85%/2);
    text-align:center;
}

.link a {
    height:20px;
    border: none;
    margin-top:3%;
    line-height:100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color:#EFF42B;
}
#form{
    display: block;
    float: left;
}
#content{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #dddddd;
}
#l_img{
    margin: auto;

}
#l_img img{
    height: 95%;
}